*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    width: 1440px;
    font-family: sans-serif;
    padding: 32px 69px 104px 89px;
    margin: 0 auto;
}
header{
    nav{
        display: flex;
        .logo{
            display: flex;
            h2{
                color: var(--color-brand-green, #285E67);
                text-align: center;
                font-family: Poppins,sans-serif;
                font-size: 21.33px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 112.518% */
            }
        }
        .links{
            margin-left: 845px;
            a{
                text-decoration: none;
                color: var(--ui-resources-background-dark-2, #2B2B2B);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                margin-right: 40px;
            }
        }
    }
    .header-block{
        margin-top: 144px;
        h1{
            width: 1300px;
            color: var(--text-text-primary, #2A2A2A);
            text-align: center;
            font-family: Poppins,sans-serif;
            font-size: 65.34px;
            font-style: normal;
            font-weight: 600;
            line-height: 82px; /* 125.497% */
        }
        p{
            width: 1300px;
            color: var(--text-text-secondary, #2B2B2B);
            text-align: center;
            /* Fonts/Body Text */
            font-family: Poppins,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
        button{
            display: flex;
            width: 251px;
            height: 56px;
            padding: 16px;
            justify-content: center;
            align-items: flex-end;
            margin-left: 524px;
            margin-top: 33px;
            gap: 16px;
            flex-shrink: 0;
            border-radius: 67px;
            background: var(--color-brand-green, #285E67);
            border: #285E67;
            color: var(--surface-surface-primary, #FFF);
            text-align: center;
            font-family: Poppins,sans-serif;
            font-size: 21.33px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 112.518% */
        }
        .imgs{
            margin-top: 56px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.cont1{
    display: flex;
    height: 446px;
    padding: 0px 112px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background: var(--text-text-invert, #F4F4F4);
    margin-top: 104px;
    .cont1-description{
        h1{
            height: 46px;
            flex: 1 0 0;
            color: var(--text-text-secondary, #2B2B2B);
            font-family: Poppins;
            font-size: 50.52px;
            font-style: normal;
            font-weight: 600;
            line-height: 62px; /* 122.724% */
        }
        .leaves{
            display: flex;
            margin-top: 61px;
            .leave1{
                margin-right: 69px;
                img{
                    display: inline-flex;
                    padding: 14px 16px;
                    align-items: flex-start;
                    gap: 16px;
                    border-radius: 9px;
                    background: var(--color-brand-green, #285E67)
                }
                p{
                    height: 110.538px;
                    align-self: stretch;
                    color: var(--text-text-secondary, #2B2B2B);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
            }
        }
        
    }.main{
            margin-left: 196px;
        }
}
@media (min-width:431px) and (max-width:1024px){
    body{
        width: 1024px;
        font-family: sans-serif;
        padding: 32px 69px 104px 89px;
        margin: 0 auto;
    }
    header{
        nav{
            display: flex;
            .logo{
                display: flex;
                h2{
                    color: var(--color-brand-green, #285E67);
                    text-align: center;
                    font-family: Poppins,sans-serif;
                    font-size: 21.33px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 112.518% */
                }
            }
            .links{
                margin-left: 430px;
                a{
                    text-decoration: none;
                    color: var(--ui-resources-background-dark-2, #2B2B2B);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    margin-right: 40px;
                }
            }
        }
        .header-block{
            margin-top: 60px;
            h1{
                align-self: stretch;
                color: var(--text-text-primary, #2A2A2A);
                text-align: center;
                font-family: Poppins,sans-serif;
                font-size: 65.34px;
                font-style: normal;
                font-weight: 600;
                line-height: 82px; /* 125.497% */
            }
            p{
                width: 550px;
                align-self: stretch;
                color: var(--ui-resources-background-dark-2, #2B2B2B);
                text-align: center;
                /* Fonts/Body Text */
                font-family: Poppins,sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                margin-left: 150px;
            }
            button{
                display: flex;
                width: 251px;
                height: 56px;
                padding: 16px;
                justify-content: center;
                align-items: flex-end;
                margin-left: 316px;
                margin-top: 33px;
                gap: 16px;
                flex-shrink: 0;
                border-radius: 67px;
                background: var(--color-brand-green, #285E67);
                border: #285E67;
                color: var(--surface-surface-primary, #FFF);
                text-align: center;
                font-family: Poppins,sans-serif;
                font-size: 21.33px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 112.518% */
            }
            .imgs{
                margin-top: 56px;
                display: flex;
                justify-content: space-between;
                img{
                    width: 427px;
                    height: 391px;
                }
            }
        }
    }
    .cont1{
        display: flex;
        padding: 64px 112px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 69px;
        align-self: stretch;
        border-radius: 12px;
        background: var(--text-text-invert, #F4F4F4);
        .cont1-description{
            h1{
                height: 46px;
                flex: 1 0 0;
                color: var(--text-text-secondary, #2B2B2B);
                font-family: Poppins,sans-serif;
                font-size: 50.52px;
                font-style: normal;
                font-weight: 600;
                line-height: 62px; /* 122.724% */
            }
            .leaves{
                display: flex;
                margin-top: 61px;
                .leave1{
                    margin-right: 69px;
                    img{
                        display: inline-flex;
                        padding: 14px 16px;
                        align-items: flex-start;
                        gap: 16px;
                        border-radius: 9px;
                        background: var(--color-brand-green, #285E67)
                    }
                    p{
                        height: 110.538px;
                        align-self: stretch;
                        color: var(--text-text-secondary, #2B2B2B);
                        font-family: Poppins,sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                }
            }
            
        }.main{
                display: none;
            }
    }
}
@media (min-width:0px) and (max-width: 430px){
    body{
        width: 430px;
        font-family: sans-serif;
        padding: 27px 35px;
        margin: 0 auto;
    }
    header{
        nav{
            display: flex;
            .logo{
                display: flex;
                h2{
                    color: var(--color-brand-green, #285E67);
                    text-align: center;
                    font-family: Poppins,sans-serif;
                    font-size: 21.33px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 112.518% */
                }
            }
            .links{
                display: none;
                margin-left: 430px;
                a{
                    display: none;
                    text-decoration: none;
                    color: var(--ui-resources-background-dark-2, #2B2B2B);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    margin-right: 40px;
                }
            }
        }
        .header-block{
            margin-top: 60px;
            h1{
                align-self: stretch;
                color: var(--text-text-primary, #2A2A2A);
                text-align: center;
                font-family: Poppins;
                font-size: 37.9px;
                font-style: normal;
                font-weight: 600;
                line-height: 47px; /* 124.011% */
            }
            p{
                align-self: stretch;
                color: var(--text-text-primary, #2A2A2A);
                text-align: center;
                /* Fonts/Body Text */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
            button{
                display: flex;
                width: 251px;
                height: 56px;
                padding: 16px;
                justify-content: center;
                align-items: flex-end;
                margin-left: 54px;
                margin-top: 33px;
                gap: 16px;
                flex-shrink: 0;
                border-radius: 67px;
                background: var(--color-brand-green, #285E67);
                border: #285E67;
                color: var(--surface-surface-primary, #FFF);
                text-align: center;
                font-family: Poppins,sans-serif;
                font-size: 21.33px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 112.518% */
            }
            .imgs{
                margin-top: 56px;
                display: block;
                img{
                    width: 356px;
                    height: 391px;
                    flex-shrink: 0;
                }
            }
        }
    }
    .cont1{
        display: flex;
        height: 654px;
        padding: 64px 112px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 85px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 12px;
        background: var(--text-text-invert, #F4F4F4);
        .cont1-description{
            h1{
                color: var(--text-text-secondary, #2B2B2B);
                text-align: center;
                font-family: Poppins,sans-serif;
                font-size: 39.7px;
                font-style: normal;
                font-weight: 600;
                line-height: 53px;
            }
            .leaves{
                display: block;
                margin-top: 40px;
                .leave1{
                    display: flex;
                    padding-right: 0px;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    align-self: stretch;
                    img{
                        display: inline-flex;
                        padding: 14px 16px;
                        align-items: flex-start;
                        gap: 16px;
                        border-radius: 9px;
                        background: var(--color-brand-green, #285E67)
                    }
                    p{
                        width: 255px;
                        height: 111px;
                        color: var(--text-text-primary, #2A2A2A);
                        text-align: center;
                        /* Fonts/Body Text */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                }
            }
            
        }.main{
                display: none;
            }
    }
}